* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'poppins', sans-serif;
    /* height: 5000px; */
    background-color: #ececec;
    justify-content: center;
    display: flex;
}

.container {
    width: 1000px;
    /* border: 1px solid #111; */
    /* border-right: 1px solid #111; */
    margin: 1px 3.5rem;
    background-color: #e2e2e2;
    box-shadow: 1px 1px 20px rgba(1, 1, 1, 0.5);
    position: relative;
    /* z-index: 9999; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 4%;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    /* color:black; */
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
}

.navbar .a {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    /* text-shadow: 1px 2px 2px rgba(1, 1, 1, 0.281); */
}

.navbar .menu a {
    margin: 0 0.5rem;
    color: black;
    font-size: 0.8rem;
    /* text-shadow: 1px 2px 2px rgba(1, 1, 1, 0.8); */
    /* font-size: 1.2rem; */
}

.navbar .menu a:hover {
    color: rgb(28, 30, 158);
    /* text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.8); */
}


.nav {
    /* display: block; */
    position: fixed;
    right: 0;
    top: 40%;
    /* z-index: 9999; */
}

.nav a {
    display: block;
    /* border: 1px solid red; */
    margin-bottom: 5px;
    padding: 5px;
    align-items: center;
    display: flex;
    color: black;
    background-color:#f3f3f3;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* position: absolute; */
}

.nav a:hover {
    background-color: black;
    color: #fff;
}

.hero {
    display: flex;
    /* align-items: center; */
}

.hero .satu {
    flex: 1 1 40rem;
    padding: 14rem 4rem;
}

.hero .satu.q {
    font-size: 1rem;
}

.hero .satu h1 {
    /* color: red */
    padding-top: 0.7rem;
    font-size: 2.5rem;
    word-spacing: 4px;
    letter-spacing: 4px;
}

.hero .satu h1 span {
    color: #0e4572;
}

.hero .satu .w {
    font-family: serif;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 0.7rem 0;
}

.hero .satu .e {
    font-size: 0.7rem;
    font-weight: 300;
}

.hero .satu .m {
    margin-top: 0.7rem;
    padding-left: 0.5rem;
}

.hero .satu .m a {
    margin-right: 1rem;
    font-size: 0.7rem;
    padding: 0.4rem;
    border-radius: 7px;
    border: 0.1px solid black;
    color: black;
    /* cursor: pointer; */
}

.hero .satu .m .h:hover {
    color:#eaeaea;
    background-color: black;
}


.hero .satu .m .h {
    padding: 0.4rem 1.5rem;
}

.hero .satu .m .h1 {
    background-color: black;
    color: #fff;
}

.hero .satu .m .h1:hover {
    background-color: #0e4572;
    color: #fff;
}


.hero .dua {
    flex: 1 1 20rem;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    padding: 15rem 7rem 8rem;
}

.hero .dua img {
    max-width: 400px;
    /* object-fit: cover; */

}


/* services section start */
.services {
    background-color: #cfcfcf;
    margin-top: -2rem;
    padding-bottom: 2rem;

}

.services h2,
.empat h2 {
    padding: 3rem 0 2rem;
    margin: 0rem;
    text-align: center;
    font-size: 1.5rem;
}

.services p {
    margin: 0 5rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
}

.services .tiga {
    /* border: 1px solid red; */
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    /* background-color: #cfcfcf; */


}

.services .tiga .kotak {
    /* border: 1px solid red; */
    width: 200px;
    height: 250px;
    margin: 2rem;
    background-color: black;
    /* justify-content: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */

}

.services .tiga .kotak .k {
    width: 2rem;
    height: 2rem;
    /* border: 1px solid red; */
    margin: 2rem 5rem 0;
    border-radius: 50%;
    /* text-align: center; */
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
}

.services .tiga .kotak .k p {
    font-weight: 700;
    text-align: center;
    color: black;
}

.services .tiga .kotak h3 {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.6rem;
    color: white;
    /* margin-top: -2rem; */
}

.services .tiga .kotak p {
    font-size: 0.6rem;
    text-align: center;
    margin: 5px 10px;
    color: #fff;
}

.services .tiga .kotak a {
    text-align: center;
    border: 1px solid #111;
    display: block;
    margin: 1rem 3.5rem;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem

}


/*  */
.empat .lima {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: -1rem;
    margin-bottom: 5rem;

}
.empat .lima .enam {
    /* border: 1px solid red; */
    width: 400px;
    display: flex;
    margin: 1rem 1rem;
    background-color: #cfcfcf;
    border-radius: 5px;


}
.empat .lima .enam .t {
    flex: 1 1 5rem;
    /* border: 1px solid red; */
    padding: 2rem 1rem;

}
.empat .lima .enam .t img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.empat .lima .enam .d {
    flex: 1 1 20rem;
    /* border: 1px solid red; */

}
.empat .lima .enam .d .p1 {
    font-size: 0.7rem;
    margin-top: 1.4rem;

}

.empat .lima .enam .d .p2 {
    font-weight: bold;
    font-family: serif;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.empat .lima .enam .d .p3 {
    margin-bottom: 1.4rem;
    /* max-width: 80px; */
    /* display: flex; */
}

.empat .lima .enam .d .p3 .i {
    /* font-size: 0.2rem; */
    width: 15px;
    height: 15px;
}

.empat .lima .enam .d .p3 #i {
    color: red;
}




/* footer */
footer {
    background-color: #111;
    color: #fff;
}

footer h3 {
    text-align: center;
    font-size: 0.8rem;
    padding: 1.2rem 0 1rem;

}

footer .p4 {
    max-width: 500px;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 300;
    margin: 0 auto ;
    padding-bottom: 1rem;
}

footer .i {
    display: flex;
    justify-content: center;
    /* color: #fff; */

}

footer .i a {
    color: #000000;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #eaeaea;
    margin: 0.6rem;
}

footer .i a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

footer .p5 {
    /* max-width: 500px; */
    text-align: center;
    font-size: 0.6rem;
    font-weight: 300;
    margin: 0 auto ;
    padding-bottom: 1rem;


}

/* bimtang */
/* .checked {
    color: red;
} */
